.judicial {
	font-family: georgia;
	width: 100%;
}

header {
	text-align: center;
	padding: 0 20%;
}

section {
	display: inline-block;
	margin-bottom: 3em;
	padding: 0 1em;
	width:100%;
}

section p {
	font-size: .99em;
	line-height: 1.5em;
	max-width:50%;
}

section img {
	float:right;
	width:400px;
	padding-right: 2%;

}

