
body {
  color: #5a5a5a;

}

.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 30px;
  margin-bottom: 90px;
}

.col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

section {
  height: 100%;
  position: relative;
  padding: 3em;
}

section#oconnor {
  height: inherit;
  border-bottom: 1px dotted #333;
  margin-bottom: 10em;
}

h2 {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.jump {
  position: absolute;
  top: 50%;
}



@media (max-width: 800px) {
  .jumbotron  {
    height: 95%;
    margin: 1em;
    padding: 3em;
  }
  section {
    padding: 2em;
  }
 section .btn {
  display: none;
}
}

@media (max-width: 300px) {
  .jumbotron  {
    height: 95%;
    margin: 1em;
    padding: 3em;
  }
  section {
    padding: 2em;
  }
 section .btn {
  display: none;
}
}

