 
.container {

	height: 75%;
	margin-bottom: 30em;
}

#pinned-image-container {
	position: fixed;
	top: 10em;
	right:50em;
	width: 10%;
}

section {
	width: 30%;
}

section p {
	position: absolute;
	bottom: 2em;
	width: 50%;

}

section .section-graphic {
	display: none;
}

img {
}